.html, body, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: SF UI Text;
  font-weight: 100;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: #F2F1F1; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F2F1F1; /* Gecko Browsers */
}

p {
  font-size: 1.25vw;
}

body {
  color: #131313;
/*  background-color: #F4F4F4;
  background-color: #F1F3F4;*/
  overflow-x: hidden;
}

.container-actions {
  width: 62.5%;
  position: absolute;
  height: 22.5vw;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  display: table;
}

.split {
  width: 2px;
  background-color: #EBECEB;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.action {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  border-left: 2px solid #EBECEB;
  background-color: white;
}

.action p {
  padding: 1.25vw 0 1.25vw 2vw;
  border-bottom: 2px solid #EBECEB;
  border-top: 2px solid #EBECEB;
  background-color: white;
}

.pxW {
  border-left: 0;
  border-right: 2px solid #EBECEB;
  right: 0;
}

.pxW p {
  border-left: 0;
}

input {
  width: 83%;
  border: none;
  font-size: 5vw;
  padding: 2vw 2vw 5vw 2vw;
  font-weight: 200;
  background: transparent;
}

input:focus {
  outline: none;
}

.add {
  bottom: 0;
  width: 100%;
  position: absolute;
  border: 2px solid #EBECEB;
  cursor: pointer;
  background-color: white;
  z-index: 3;
}

.add:hover, .action:hover {
  background-color: #FAFAFA;
}

.add p {
   padding: 1.25vw 0 1.25vw 0;
   text-align: center;
   font-size: 1.25vw;
}

.copyIn {
  position: absolute;
  right: 2.5vw;
  top: 1.4vw;
  z-index: 3;
  opacity: 0;
  font-size: 1vw;
}

.copyPx {
  position: absolute;
  right: 2.5vw;
  top: 1.4vw;
  z-index: 3;
  opacity: 0;
 font-size: 1vw;
}

.action:hover .copyIn, 
.action:hover .copyPx 
{
  opacity: 1;
}

