.html, body, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: SF UI Text;
  font-weight: 100;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white; /* Gecko Browsers */
}

p {
  font-size: 1.85vw;
}

body {
  background-color: #101012;
  color: white;
  overflow-x: hidden;
}

.container-actions, .container-top, .container-bottom {
  width: 100%;
}

.container-actions {
  position: absolute;
  height: 66.66%;
  bottom: 0;
}

.container-top, .container-bottom {
  height: 100%;
/*  border-top: 3px solid #22222A;*/
}

.container-bottom {
  bottom: 0;
}

.col-half {
  width: 50%;
  position: absolute;
}

.col-half p {
  display: inline-block;
}

.intro, .dpi-selector {
  margin: 3vw 0 0 3vw;
}

.dpi-selector {
  background-color: transparent;
  display: inline-block;
  padding: 1vw 3vw 1vw 1vw;
  cursor: pointer;
  position: relative;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 13vw;
  font-family: SF UI Display;
  font-weight: 100;
  line-height: 10vw;
  padding: 6vw 0 2vw 6vw;
  border-top: 3px solid #22222A;
  width: 88%;
}

input:hover {
  border-top: 3px solid #22222A;
}

input:focus {
  outline: none;
  border-top: 3px solid white;
}

.action, .dpi-selector, input {
  transition: all 0.1s;
}

input {
  transition: all 0.3s;
}

.action {
  width: 50%;
  height: 100%;
  position: absolute;
}

.action:hover, .dpi-selector:hover {
  background-color: #141416;
}

.inW  {
  left: 0;
}

.inH, .pxH, .pxW {
  right: 0;
}

.inW {
  border-right: 3px solid #22222A;
}

.action p {
  position: absolute;
  bottom: 4vw;
  left: 7vw;
  opacity: 0.5;
}

.arrow {
  position: absolute;
  right: 1.2vw;
  top: 1.65vw;
}


